/.vs
/bin
/obj
/obj/Debug/net8.0/Plugfy.Core.Commons.Communication.AssemblyInfo.cs
/obj/Debug/net8.0/Plugfy.Core.Commons.Communication.AssemblyInfoInputs.cache
/obj/Debug/net8.0/Plugfy.Core.Commons.Communication.assets.cache
/obj/Debug/net8.0/Plugfy.Core.Commons.Communication.GeneratedMSBuildEditorConfig.editorconfig
/obj/Plugfy.Core.Commons.Communication.csproj.nuget.dgspec.json
/obj/project.assets.json
/obj/project.nuget.cache
